body {
    background-color: var(--dark4);
}

.sidebar {
    background-color: var(--dark1);
    width: 312px;
    position: fixed;
    top: 16px;
    left: 16px;
    bottom: 16px;
    border-radius: 33px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 16px;
}

.navbar {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

nav a {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 48px;
}

.copyright-wrapper {
    color: white;
}
